<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="/assets/css/main.css" />
			<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		</head>
		<body class='is-preload'>
			<!-- Header -->
			<section id="header">
				<div class="inner">
					<ul class="icons">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">CV</a></li>
						<li><a href="https://tung2921.github.io/blog/" >Blog</a></li>
					</ul>
					<img src="/images/another_headshot.jpg" alt="Guy in a suit">					
					<h1><strong>Tung Nguyen</strong></h1>
					<p>Master's in Statistics, interested in Machine Learning, Deep Learning and Programming. 
						Applying statistical knowledge to solve real world problems</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">My projects</a></li>
					</ul>
				</div>
			</section>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>